<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555031519729-7g9252d26jd6bf7qeble9jlfqibsip50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555031519729-7g9252d26jd6bf7qeble9jlfqibsip50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555031519729-1hf85ick397gnr636plmq78rmtt0ilo2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu1oPLL0-z3oB1ykQVE0m8jAbwIMl7ZXs</string>
	<key>GCM_SENDER_ID</key>
	<string>555031519729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.X.Pharmacist</string>
	<key>PROJECT_ID</key>
	<string>x-pharmacist</string>
	<key>STORAGE_BUCKET</key>
	<string>x-pharmacist.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555031519729:ios:f5c144d1aa60fb92f76450</string>
</dict>
</plist>